__pycache__/
*/__pycache__/
*/*/__pycache__/
*.py[cod]
*$py.class
*.c
*.so
*.pyc
*.db
*/build/
build/
mlops_helloworld.egg-info/*
mlops_helloworld/_date.py
mlops_helloworld/_version.py
benchmark_helloworld.egg-info/*
benchmark_helloworld/_date.py
benchmark_helloworld/_version.py
#tests
dists
docs/build
docs/calc_data.csv
*.egg
.idea/*
download/*
.ipynb_checkpoints/*
.eggs/*
temp
tmp
.DS_Store